{% extends "default.html" %}

{% load account socialaccount %}

{% block header %}<h1>Вход в систему</h1>{% endblock %}

{% block content %}
{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>Авторизуйтесь, используя свой внешний аккаунт:</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">или используя локальную форму</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>Если у вас еще нет аккаунта, то
<a href="{{ signup_url }}">создайте</a> его</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Забыли пароль?</a>
  <button class="primaryAction" type="submit">Войти</button>
</form>
<a href="{% url 'account_signup' %}">Создать аккаунт</a>
{% endblock %}